body{
    background: #fdfdfd !important;
}
.logo{
    font-family: 'Lexend Deca', sans-serif;
    color: #dc3545 !important;
}
.logo span{
    color: #fff;
    border: 1px solid;
    padding:0px 5px;
    margin: 0px 4px;
    background: #dc3545;
}
/* Start Login Page */
.login-container{
    margin: auto;
    text-align: center;
    margin-top: 70px;
}
.login-form{
    max-width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 6px;
    text-align: left;
    border: none !important;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.login-container i{
    font-size: 40px;
}
.login-container h1{
    margin-bottom: 30px;
}
.register-section{
    margin-top: 20px;
}
.register-section a{
    color: #dc3545;
}
.register-section a:hover{
    color: #dc3545
}
.alert-container{ 
    max-width: 300px;
    margin: 0px auto 0px;
}

/* Register Page */
.register-form{
    max-width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 6px;
    text-align: left;
}

/* Paypon Card */
.card{
    border: none !important;
    background: #fff !important;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.paypon-card h6{
    font-family: 'Lexend Deca', sans-serif;
}

/* Bank Card */
.bank-header{
    background: #fa5477 !important;
    border: none !important;
    color: #fff;
}
.disconnect-bank{
    margin: auto;
}

/* Paypoon Navbar */
.paypon-navbar{
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.pp-sidebar{
    padding: 0 10px !important;
}
.dashboard-container{
    margin-top: 20px;
}
.dashboard-user{
    padding: 30px 0;
}
.card-body i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #666;
}
.btn-topup{
    margin-top: 10px;
    border-radius: 70px;
    padding: 5px 20px;
    background: transparent;
    color: #007bff
}

.nav-right{
    float: right !important;
}
.card{
    margin-bottom: 10px;
}
.delete-topup{
    
}
.delete-topup i{
    color: #fa5477;
    font-size: 15px;
     
}
.test{
    position: relative;
}

.form-deskripsi{
    margin-top: 10px;
}
.transfer-container{
    margin-top: 10px;
}
.btn-transfer{
    margin-top: 10px;
}



/* Top-up Bar */
.topup-bar{
    border-radius: 5px;
    margin-bottom: 15px;
    transition: ease 0.2s;
    background: #fdfdfd;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.topup-id, .topup-saldo, .topup-option{
    padding: 12px 10px;
}
.topup-id{
    color: #fff;
    background: #dc3545 ;
    border-radius: 5px 0px 0px 5px;
}
.topup-saldo{
    padding-left: 10px !important;
}

.topup-option a i{
    font-size: 17px;
    margin: 0px;
    transition: ease 0.2s;
}
.topup-option a i:hover{
    color: #dc3545;
}
.topup-option a{
   margin: 10px;
}
.topup-option .test{
    margin-right: 0px !important;
}



.activity-bar{
    border-radius: 5px;
    margin-bottom: 15px;
    transition: ease 0.2s;
    background: #fdfdfd;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);

}
.activity-bar:hover{
    box-shadow: none;
    cursor: pointer;
}
.activity-date, .activity-description{
    padding: 12px 10px;
}
.activity-description{
   padding-left: 10px !important;
}
.activity-saldo{
    padding: 12px 10px !important;
}
.activity-date{
    color: #fff;
    background: #dc3545 ;
    border-radius: 5px 0px 0px 5px;
}


